<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%# Flash Message %>
<%- messages() %>

<%# Form Content %>
<div id="register">
    <form action="/account/register" method="post">
        <p>First Name: </p>
        <input type="text" name="account_firstname">
        <p>Last Name: </p>
        <input type="text" name="account_lastname">
        <p>Email Address: </p>
        <input type="email" name="account_email">
        <p>Password: </p>
        <input type="password" name="account_password">
        <input type="submit" name="login_submit" value="LOGIN">
    </form>
</div>