/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Large View of Page ***************/
@media screen and (min-width: 915px)
{
  /***** Shared Variables **************/
  form.siteForms
  {
    width: 50%;
  }
  /******* Home View CSS ***************/
    div#homeFlex
    {
      flex-direction: row;
    }

    div.upgrades
    {
      width: 50%;
    }

    div.floatbox h2
    {
      font-size: 1.5em;
    }

    div.floatbox h3
    {
      font-size: 1.17em;
    }

    /******* Inventory View CSS ***************/
    ul#inv-display
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    /******* Vehicle View CSS ***************/
    div#inventory-view
    {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
}

/******* Mobile View of Page ***************/
h1
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p
{
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

li
{
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

a
{
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

input:required:invalid, input:focus:invalid 
{
  background-color: #f77a7a;
}

input:required:valid 
{
  background-color: #5cff5c;
}

.pwButton
{
  display: block;
  border: 2px solid #000000;
  background-color: #F0F0F0;
  color: #000000;
  border-radius: 5px;
  padding: 2px;
  margin-left: 0;
  font-size: small;
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  width: 8em;
  text-align: center;
}

.pwButton:hover
{
  background-color: #dedede;
}

.notice
{
  list-style: none;
  color: #ff0000;
  font-style: italic;
  font-size: medium;
  padding-left: 0;
}

.siteForms
{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border: 2px solid #929292;
  border-radius: 10px;
  background-color: #221d52;
  color: #e2e2e2;
}

.formDiv
{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.siteForms label
{
  margin-top: 10px;
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.siteForms input
{
  margin-top: 5px;
  width: 80%;
  height: 2rem;
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.siteForms select
{
  margin-top: 5px;
  width: 80%;
  height: 2rem;
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.siteForms textarea
{
  margin-top: 5px;
  width: 80%;
  height: 10em;
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.siteForms span
{
  margin-top: 10px;
  font-size: small;
}

.passwordFormat
{
  display: flex;
  flex-direction: column;
}

.passwordFormat div
{
  display: flex;
  flex-direction: column;
}

input.submitButton
{
  width: 100px;
  margin-top: 30px;
}

#management div
{
  margin-bottom: 2rem;
}

#invManagementCreate
{
  display: flex;
  flex-direction: column;
}

#invManagementCreate a
{
  margin-top: 10px;
}

body
{
  padding: 1% 10%;
  background-image:url(../images/site/checkerboard.jpg)
}

div#wrapper
{
  padding: 1em;
  border: 0.3em;
  border-radius: 1em;
  border-style: solid;
  border-color: #14abe6;
  background-color: #ffffff;
}

header#top-header
{
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

header#top-header a
{
  color: #000000;
  text-decoration: none;
}

span.siteName
{
  font-size: 2em;
}

nav ul
{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0;
}

nav ul li
{
  background: #221d52;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

nav ul li a
{
  color: #ffffff;
  text-decoration: none;
}

/******* Home View CSS ***************/
#homeFlex
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.carAdWrapper
{
  display:flex;
  justify-content: center;
}

div.carAd
{
  display: flex;
  justify-content: flex-start;
}

div.floatbox
{
  position: absolute;
  background-color: #ffffff8c;
  width: 25%;
}

.floatbox h2
{
  margin: 0;
  font-size: 1em;
  color: #14abe6;
}

.floatbox h3
{
  margin: 0;
  font-size: 0.5em;
  color: #14abe6;
}

div.floatbox img
{
  margin-top: 2em;
  width: 50%;
}

.upgrades
{
  width: auto;
}

div.reviews
{
  width: 50%;
}

div.upgradesWrapper
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

div.upgradesFlexRow
{
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-evenly;
}

div.upbackground
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

div.upbackground a
{
  text-decoration: underline;
  color: #0000ff;
  text-align: center;
}

div.upbackground div
{
  padding: 0.5em 1em 0 1em;
  background-color: #14abe6;
}

div.reviews ul li
{
  margin-top: 1em;
}

/******* Inventory View CSS ***************/
#inv-display
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style-type: none;
  padding-right: 40px;
}

#inv-display li
{
  border: 3px solid #e2e2e2;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#inv-display img
{
  width: 100%;
  border-radius: 3px;
}

.namePrice
{
  text-align: center;
  padding: 0.5em;
}

.namePrice hr
{
  border: 2px solid #e2e2e2;
}

/******* Vehicle View CSS ***************/
#inventory-view
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ul.inventory-view-sec
{
  padding: 5px;
  border: 1px solid #929292;
}

.inventory-view-sec
{
  list-style: none;
  margin: 1em 1em 1em 1em;
}

.inventory-view-sec img
{
  width: 100%;
}

.inventory-view-sec li:nth-child(even)
{
  background-color: #e2e2e2;
}