<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%# Flash Message %>
<%- messages() %>

<%# Links %>
<div id="management">
    <div id="invManagementCreate">
        <h2>Create New Inventory</h2>
        <a href="../../inv/add-classification">Create New Classification</a>
        <a href="../../inv/add-inventory">Create New Inventory Item</a>
    </div>
    <div>
        <h2>Manage Inventory</h2>
        <p>Select a classification list to view classification content:</p>
        <%- classificationSelect %>
        <table id="inventoryDisplay"></table>
        <noscript>JavaScript must be enabled to use this page.</noscript>
    </div>
</div>

<%# script %>
<script src="../../js/inventory.js"></script> 